/* ------------------------------------------------------------------------All */

* {
    margin: 0;
    color: white;
}

/* ------------------------------------------------------------------------Header/Footer */

header,
footer {
    background-color: #020818;
    padding: 20px 50px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header a {
    margin-right: 10px;
    color: white;
    border-radius: 50px;
    padding: 15px 20px;
    font-family: "Jura", sans-serif;
}

a:hover {
    filter: brightness(75%);
}

.logo-top {
    width: 50%;
}

.menu-container {
    display: inline-block;
}

.menu-button {
    background-color: #020818;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Jura", sans-serif;
}

.menu-dropdown {
    display: none;
    position: absolute;
    background-color: #020818;
    border: solid 1px white;
    border-radius: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.menu-dropdown a {
    display: block;
    border: none;
}

.menu-dropdown a:hover {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 0;
}

.menu-container:hover .menu-dropdown {
    display: block;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.social-links {
    display: flex;
    align-items: center;
}

/* ------------------------------------------------------------------------Body */

body {
    background-color: #132036;
    font-family: "Jura", sans-serif;
}

main {
    margin-left: 100px;
    margin-right: 100px;
}

.main-title {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 22px;
    text-align: center;
}

p {
    text-align: justify;
}

li {
    text-align: justify;
    border: solid 1px #1a2b49;
    border-radius: 10px;
    padding: 20px;
    background-color: #1a2b49;
}

.title-box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: solid 2px white;
    border-top: 0;
    padding: 20px;
    margin: 0 58% 15px 3%;
    border-radius: 0 0 10px 10px;
    background-color: #020818;
}

/* ------------------------------------------------------------------------Accueil */
picture {
  display: block;
  max-width: 100%;
}


/* ------------------------------------------------------------------------Formations */

.learn-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 75px;
    border: solid 2px white;
    border-radius: 5px;
    padding: 20px;
    padding-top: 0px;
}

.content-learn {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 20px;
    font-family: "tahoma", sans-serif;
    margin-left: 20px;
}

.content-learn-language {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 20px;
    font-family: "tahoma", sans-serif;
}

/* ------------------------------------------------------------------------Projets sécurité */

.security-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 75px;
    border: solid 2px white;
    border-radius: 5px;
    padding: 30px;
    padding-top: 0;
}

.content-security {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    margin-top: 20px;
    font-family: "tahoma", sans-serif;
    flex-wrap: nowrap;
}

/* ------------------------------------------------------------------------Projets informatique */
.info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 75px;
    border: solid 2px white;
    border-radius: 5px;
    padding: 30px;
    padding-top: 0;
}

.content-info {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    margin-top: 20px;
    font-family: "tahoma", sans-serif;
}

/* ------------------------------------------------------------------------Projets électronique */
.elec-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 75px;
    border: solid 2px white;
    border-radius: 5px;
    padding: 30px;
    padding-top: 0;
}

.content-elec {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    margin-top: 20px;
    font-family: "tahoma", sans-serif;
}

/* ------------------------------------------------------------------------Images */
.thirty-img {
    width: 30%;
}

.thirty-five-img {
    width: 35%;
}

.fourty-five-img {
    width: 45%;
}

.photo-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.lien-conteneur-photo {
    position: relative;
    display: inline-block; /* au lieu de block */
    width: 100%;
}

.lien-conteneur-photo img {
    width: 100%;
    height: auto;
    display: block;
}

.lien-conteneur-photo:hover .photo-hover {
    display: flex;
}

/* ------------------------------------------------------------------------Adaptation Mobile */
@media screen and (max-width: 960px) {
    /* Header/Footer */
    header {
        flex-direction: column;
        align-items: center;
    }

    header a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    .logo-top {
        width: 500px;
        text-align: center;
    }

    .menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .menu-dropdown {
        position: static;
        width: 100%;
    }

    footer {
        flex-direction: column;
        align-items: center;
        padding: 20px 30px;
    }

    .footer-content
    {
        margin-bottom: 30px;
    }

    /* Main */
    main {
        margin-left: 45px;
        margin-right: 45px;
    }

    .main-title {
        font-size: 13px;
    }

    img {
        margin-bottom: 15px;
        max-width: 100%;
        height: auto;
    }

    li {
        list-style: none;
    }

    .title-box {
        margin: 0 3% 0 3%;
        display: flex;
        justify-content: center;
    }

    /* Formations */
    .learn-box {
        padding: 15px;
        padding-top: 0;
        text-align: center;
    }

    .content-learn-language {
        flex-direction: column;
        align-items: center;
        font-size: 13px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .content-learn-language img {
        margin-left: 40px;
    }

    .content-learn {
        font-size: 13px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .text-learn {
        margin-top: 20px;
    }

    /* Projets informatique */
    .info-box {
        padding: 15px;
        padding-top: 0;
        text-align: center;
    }

    .content-info {
        flex-direction: column;
        align-items: center;
        font-size: 13px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .content-info img {
        margin-left: 60px;
    }

    .text-info {
        margin-top: 20px;
    }

    /* Projets sécurité */
    .security-box {
        padding: 15px;
        padding-top: 0;
        text-align: center;
    }

    .content-security {
        flex-direction: column;
        align-items: center;
        font-size: 13px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .content-security img {
        margin-left: 60px;
    }

    .text-security {
        margin-top: 20px;
    }

    /* Projets électronique */
    .elec-box {
        padding: 15px;
        padding-top: 0;
        text-align: center;
    }

    .content-elec {
        flex-direction: column;
        align-items: center;
        font-size: 13px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .content-elec img {
        margin-left: 60px;
    }

    .text-elec {
        margin-top: 20px;
    }

    /* Images */
    .thirty-img {
        width: 50%;
        height: auto;
        margin-left: 30px;
    }

    .thirty-five-img {
        width: 60%;
        height: auto;
        margin-left: 30px;
    }

    .fourty-five-img {
        width: 70%;
        height: auto;
        margin-left: 30px;
    }
}

@media screen and (max-width: 768px) {
    main {
        margin-left: 20px;
        margin-right: 20px;
    }

    .content-learn-language {
        margin-left: 15px;
        margin-right: 15px;
    }

    .content-learn {
        margin-left: 15px;
        margin-right: 15px;
    }

    .content-info {
        margin-left: 15px;
        margin-right: 15px;
    }

    .content-security {
        margin-left: 15px;
        margin-right: 15px;
    }

    .content-elec {
        margin-left: 15px;
        margin-right: 15px;
    }
}