/* ------------------------------------------------------------------------Adaptation Mobile */
@media screen and (max-width: 768px) {
    /* ------------------------------------------------------------------------Body */
    main {
        margin: 0 20px 0 20px;
    }

    .title-box {
        font-size: 15px;
    }

    /* ------------------------------------------------------------------------Formations */
    .content-learn-language {
        margin: 0 15px 0 15px;
    }

    .content-learn {
        margin: 0 15px 0 15px;
    }

    /* ------------------------------------------------------------------------Projets informatique */
    .content-info {
        margin: 0 15px 0 15px;
    }

    /* ------------------------------------------------------------------------Projets sécurité */
    .content-security {
        margin: 0 15px 0 15px;
    }

    /* ------------------------------------------------------------------------Projets électronique */
    .content-elec {
        margin: 0 15px 0 15px;
    }
}